* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d0e1f2;
    color: #0e0e10;
    width: 85%;
    max-width: 800px;
    margin: 30px auto;
}

h1, h2 {
    text-align: center;
}

#titulo-principal {
    color: #2c3e50;
    font-size: 36px;
    margin-bottom: 8px;
}

h2 {
    color: #7f8c8d;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    color: #0e0e10;
    font-size: 20px;
}

.sobre {
    background-color: white;
    padding: 20px;
    border-top: 4px solid #355982;
    border-bottom: 3px solid #f3f8fd;
    margin-bottom: 20px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 12px;
}

ul {
    background-color: white;
    padding: 20px 20px 20px 40px;
    border: 1px solid white;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
    font-size: 18px;
    color: #0e0e10;
}

img {
    width: 100%;
    height: 320px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.informacoes p {
    background-color: whitesmoke;
    color: #5a636a;
    padding: 15px;
    border-left: 4px solid #6e9ecc;
    font-style: italic;
}

.formulario {
    background-color: white;
    font-size: 15px;
    padding: 45px;
    border: 1px solid #afb3b7;
    margin-top: 45px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #afb3b7;
    font-size: 16px;
}

input[type="email"] {
    border: 2px solid #4d79ab;
    background-color: #d0e1f2;
}

button {
    background-color: #4d79ab;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background-color: #f3f8fd;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid #afb3b7;
    font-size: 20px;
}

.menu-navegacao {
    background-color: #355982;
    width: 100%;             
    padding: 20px 0;        
    text-align: center;
}

.menu-navegacao a {
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    margin: 20px;          
}

.menu-navegacao a:hover {
    color: #4d79ab;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.card {
    flex-basis: 320px;            
    flex-grow: 1;                 
    max-width: 450px;             
    background-color: white;
    border: 2px solid #afb3b7;
    padding: 12px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 280px;                
    object-fit: cover;       
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    font-weight: bold;
    color: #4d79ab;
    margin: 0;
}

.card:hover {
    border-color: #4d79ab;
    margin-top: -7px;           
    margin-bottom: 5px;         
}